div.pfis-effect-block-main {
    height: 600px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
}

div.pfis-effect-panel {
    background-color: white;
    height: 500px;
    width: 700px;
    border-radius: 50px;
}

div.pfis-effect-title {
    background-color: white;
    height: 80px;
    width: 500px;
    border-radius: 50px;
    margin: 0px 100px 20px 100px;
}

h1.pfis-effect-title {
    height: 30px;
    width: 210px;
    padding: 25px 145px;
    margin: 0px;
}

div.pfis-effect-block {
    display: flex;
    margin-bottom: 10px;
    height: 36px !important;
}

div.pfis-effect-block-long {
    width: 522px;
    height: 36px;
}

div.pfis-effect-block-short {
    width: 88px;
    height: 36px;
}

div.pfis-effect-block-shorter {
    width: 44px;
    height: 36px;
}

div.pfis-effect-block-yes {
    right: 45px;
    bottom: 45px;
    position: absolute;
}

div.pfis-effect-image {
    background-image: url("https://api.btstu.cn/sjbz/api.php?lx=dongman&format=images?name=menu");
    height: 200px;
}

div.pfis-effect-block-tab-2 {
    height: 394px;
}
